.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, monospace, sans-serif;
  font-size: 25px;
}

.titleSection {
  background-color: #ee454d;
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'pokemon-font', monospace, sans-serif;
}

.titleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #c72c41;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.titleSection h1 {
  font-size: 2.6rem;
}

.search {
  width: 200px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #801336;
}

.search:hover {
  cursor: pointer;
  background-color: #801336cc;
}

.displaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displaySection h4, h3, h2 {
  margin: 5px;
  font-size: 25px;
}

.displaySection img {
  width: 200px;
  height: 200px;
}

.stats {
  background-color: #c4c4c4;
  border-radius: 20px;padding: 20px;
  width: 30%;
  word-wrap: break-word;
}

.switchTheme {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 23px;
  border: none;
  color: white;
  background-color: #801336;
}